<nav *ngIf="identity" class="navbar navbar-expand-lg navbar-dark navigation-movil display-movil" style="margin-left: -15px;
    margin-right: -15px;">
		
	<h1 class="head-title">
		<a [routerLink]="['/']" class="link_logo">
			<span class="fas fa-music" aria-hidden="true"></span>
		  	{{title}}
		</a>
	</h1>
	<ul class="navbar-nav display-movil-xs">
      	<li class="nav-item">
	        <a class="nav-link" href="#"  role="button">
	        <span class="fas fa-user" id="identity_name">
			{{identity.name}}
			</span>
	        </a>
      	</li>
      	<li class="nav-item">
      		<a class="nav-link" [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
				<span class="fas fa-cog" aria-hidden="true">Mis datos</span>
		    </a>
      	</li>
      	<li class="nav-item">
            <a (click)="logout()" class="btn-logout nav-link">
			  <span class="fas fa-times-circle" aria-hidden="true">Salir</span>
		    </a>
      	</li>
    </ul>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item">
	        <a  class="nav-link" href="#">
			<span class="fas fa-search" aria-hidden="true"></span>
			Buscar
			</a>
	      </li>
	      <li class="nav-item home-active">
	        <a class="nav-link" [routerLink]="['/artistas',1]" [routerLinkActive]="['actived']" >
			<span class="fas fa-star" aria-hidden="true"></span>
			Artistas
			</a>
	      </li>
	      <li class="nav-item home-active">
	        <a class="nav-link" href="#">
			<span class="fas fa-book" aria-hidden="true"></span>
			Albums
			</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav display-web-xs">
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        <span id="identity_name">
			{{identity.name}}
			</span>
	        </a>
	        <div class="dropdown-menu right" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
				<span class="fas fa-cog" aria-hidden="true"></span>
					Mis datos
			  </a>
	          <div class="dropdown-divider"></div>
	           <a class="dropdown-item btn-logout" (click)="logout()">
				  <span class="fas fa-times-circle" aria-hidden="true"></span>
					Salir
			   </a>
	        </div>
	      </li>
	      <li class="nav-item">
	      	 <img class="img-responsive img-circle" id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" style="width: 25px" /> 
	      </li>

	    </ul>
	</div>
</nav>
<div *ngIf="identity"  class="row" style="height: 100%;">
	<div  class="navigation col-lg-2 display-web">
		<div style="background: #1C1C1F;height: 100vh;">
			<div class="col-lg-12">
				<h1 class="head-title">
					<a [routerLink]="['/']" class="link_logo">
						<span class="fas fa-music" aria-hidden="true"></span>
					  	{{title}}
					</a>
				</h1>
				<nav id="navigation">
					<a href="#">
						<span class="fas fa-search" aria-hidden="true"></span>
						Buscar
					</a>
					<a [routerLink]="['/artistas',1]" [routerLinkActive]="['actived']" >
						<span class="fas fa-star" aria-hidden="true"></span>
						Artistas
					</a>
					<a href="#">
						<span class="fas fa-book" aria-hidden="true"></span>
						Albums
					</a>
				</nav>
				<nav  id="user_logged">
					<div class="user-image">
						<img class="img-responsive img-circle" id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" />	
					</div>
					<span id="identity_name">
					{{identity.name}}
					</span>
					<a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
						<span class="fas fa-cog" aria-hidden="true"></span>
						Mis datos
					</a>
					<a (click)="logout()" class="btn-logout">
						<span class="fas fa-times-circle" aria-hidden="true"></span>
						Salir
					</a>
				</nav>
			</div>
		</div>
		
	</div>

	<div class="central col-lg-10 pb-5">
			<div class="col-lg-12">
				<router-outlet></router-outlet>
			</div>
			<div class="clearfix"></div>
			<div class="pos-f-t fixed-bottom">
			  <div class="collapse" id="navbarToggleExternalContent">
			    <div class="bg-dark p-4">
			    	<div class="row">
			    		 <player class="player"></player>
			    	</div>
			    </div>
			  </div>
			  <nav class="navbar navbar-dark bg-dark">
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			  </nav>
			</div>
			<!-- <div class="row">
				<player class="player col-lg-12 display-web" *ngIf="identity"></player>
			</div> -->
	</div>	
</div>	
<div class="col-lg-12" *ngIf="!identity">
	<div class="row">
		<div class="col-lg-6">
			<h1>Indentificate</h1>
			<div *ngIf="errorMessage">
				<div class="alert alert-info">
					<strong>Error</strong>{{errorMessage}}
				</div>
			</div>
			<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
				<p>
					<label>Correo electrónico</label>
					<input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
					<span *ngIf="!email.valid && email.touched">
						El email es obligatorio
					</span>
				</p>
				<p>
					<label>Contraseña</label>
					<input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
					<span *ngIf="!password.valid && password.touched">
						El password es obligatorio
					</span>
				</p>
				<input type="submit" value="Entrar" class="btn btn-primary" />
			</form>
		</div>
		<div class="col-lg-6">
			<h1>Registrate</h1>
			<div *ngIf="alertRegister">
				<div class="alert alert-info">
					{{alertRegister}}
				</div>
			</div>
			<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
				<p>
					<label>Nombre</label>
					<input type="text" class="form-control" #name="ngModel" name="name"  [(ngModel)]="user_register.name" required />
					<span *ngIf="!name.valid && name.touched">
						El campo nombre es obligatorio
					</span>
				</p>
				<p>
					<label>Apellidos</label>
					<input type="text" class="form-control" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" required />
					<span *ngIf="!surname.valid && surname.touched">
						El campo apellidos es obligatorio
					</span>
				</p>
				<p>
					<label>Correo electrónico</label>
					<input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user_register.email" required />
					<span *ngIf="!email.valid && email.touched">
						El campo correo electrónico es obligatorio
					</span>
				</p>
				<p>
					<label>Password</label>
					<input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user_register.password" required />
					<span *ngIf="!password.valid && password.touched">
						El campo password es obligatorio
					</span>
				</p>
				<input type="submit" value="Registrar" class="btn btn-primary">
				
			</form>
		</div>
	</div>
</div>
