<div *ngIf="artist" class="artist-box pt-3">
	<div class="" id="artist-head-card">
		<div class="image">
			<img src="{{url + 'get-image-artist/' + artist.image}}" *ngIf="artist.image && artist.image !='null' " />	
		</div>
		<div class="data">
			<h1>{{artist.name}}</h1>
			<p class="description">{{artist.description}}</p>
			<a *ngIf="identity.role == 'ROLE_ADMIN' " [routerLink]="['/crear-album', artist._id]" class="btn btn-secondary btn-spotify-add">
				Añadir album
			</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="gallery-albums" *ngIf="albums">
		<div class="col-lg-12">
			<ul class="row albums-list">
				<li *ngFor="let album of albums" class="col-lg-4 col-md-6 col-sm-12 album-item">
					 <div class="album-image">
						<img src="{{url + 'get-image-album/'+ album.image}}" />
					</div>
					<div class="album-name">
						<p>
							<a [routerLink]="['/album', album._id]">
								{{album.title}} - 
							</a>
							<a [routerLink]="['/artista', album.artist._id]">
								{{album.artist.name}}
							</a>
							
						</p>
						<div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN' ">
							<a [routerLink]="['/editar-album', album._id]" class="btn btn-sm btn-info btn-spotymusic">
								<span aria-hidden="true" class="fas fa-edit"></span> Editar 
							</a>
							<a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger btn-spotymusic" >
								<span aria-hidden="true" class="fas fa-trash"></span> Borrar
							</a>
						</div>        	
					</div>
					<div class="seguro2" *ngIf="confirmado == album._id">
						<a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-success btn-spotymusic">
							<span aria-hidden="true" class="fas fa-check-circle"></span> Eliminar
						</a>
						<a (click)="onCancelAlbum()" class="btn btn-sm btn-danger btn-spotymusic">
							<span aria-hidden="true" class="fas fa-times-circle"></span> Cancelar
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>