	<div class="col-lg-12"  *ngIf="identity">
		<h1 class="title-form">{{title}}</h1>
		<div *ngIf="alertMessage">
			<div class="alert alert-info">
				{{alertMessage}}
			</div>
		</div>
		<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="content-form-style">
			<p>
				<label>Nombre</label>
				<input type="text" class="form-control" #name="ngModel" name="name"  [(ngModel)]="user.name" required />
				<span *ngIf="!name.valid && name.touched">
					El campo nombre es obligatorio
				</span>
			</p>
			<p>
				<label>Apellidos</label>
				<input type="text" class="form-control" #surname="ngModel" name="surname" [(ngModel)]="user.surname" required />
				<span *ngIf="!surname.valid && surname.touched">
					El campo apellidos es obligatorio
				</span>
			</p>
			<p>
				<label>Correo electrónico</label>
				<input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" required />
				<span *ngIf="!email.valid && email.touched">
					El campo correo electrónico es obligatorio
				</span>
			</p>
			<p>
				<label>Password</label>
				<input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" required />
				<span *ngIf="!password.valid && password.touched">
					El campo password es obligatorio
				</span> 
			</p>
			<div class="image-for-edit" *ngIf="user.image && user.image != 'null'">
				<img src="{{url + 'get-image-user/' + user.image}}" style="width: 100px" />	
			</div>
			<p>
				<label>Sube tu foto:</label>
				<input type="file" placeholder="Subir Imagen..." name="" (change)="fileChangeEvent($event)" />
			</p>
			<input type="submit" value="Actualizar" class="btn btn-primary" />
			
		</form>
	</div>